[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	delete-merged-branches = "!git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -D"
	re = rebase
	f = "fetch --all --prune"
	pl = pull
	p = push
	pf = "push -f"
[user]
	email = p-jerome@hotmail.fr
	name = Jérôme Pogeant
	signingkey = F3FF4145E9ADF771
[gpg]
	program = <gpg_binary>
[commit]
	gpgsign = true
[submodule]
	recurse = true
[color]
	ui = true
[core]
	editor = nvim -u ~/.config/nvim/init.vim
	excludesfile = /home/jerome/.gitignore_global
	ignorecase = false
	pager = delta
[credential]
	helper = store
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[rerere]
	enabled = true
[tag]
	forceSignAnnotated = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	light = false
[sequence]
	editor = interactive-rebase-tool
