[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	delete-merged-branches = "!git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -D"
	re = rebase
	f = "fetch --all --prune"
	pl = pull
	p = push
	pf = "push -f"
[user]
	email = p-jerome@hotmail.fr
	name = Jérôme Pogeant
	signingkey = F3FF4145E9ADF771
[gpg]
	program = <gpg_binary>
[commit]
	gpgsign = true
[submodule]
	recurse = true
[color]
	ui = true
[core]
	editor = nvim -u ~/.config/nvim/init.vim
	excludesfile = /home/jerome/.gitignore_global
	ignorecase = false
[credential]
	helper = store
[pull]
	rebase = false
[rerere]
	enabled = true
